Flask
flask
flask-cors
flask-socketio
numpy
torch
yt-dlp
librosa
ffmpeg-python==0.2.0
ffmpeg
#Replace
yt_dlp
pydub
pytube
sounddevice >= 0.4.6

# For GPU
git+https://github.com/openai/whisper.git

# For Macbook M1
# git+https://github.com/ggerganov/whisper.cpp.git

# For faster
# https://github.com/SYSTRAN/faster-whisper.git

# Add a line to run the setup.sh script
# -e ./setup.sh

# https://blog.finxter.com/fixed-modulenotfounderror-no-module-named-sounddevice/