.ant-tabs .ant-tabs-nav {
  margin-bottom: 0;
}
.ant-tabs-content-holder {
  border: 1px solid #ecebeb;
  border-radius: 0 8px 8px 8px;
  border-top: unset;
  padding: 16px;
}

.card-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.top-left-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f56c;
  color: #727272;
  border: 1px dashed #e3e3e3;
  border-width: 0 1px 1px 0;
  padding: 2px 8px;
  border-radius: 0 0 8px 0;
  z-index: 1;
  font-size: 13px;
  font-style: italic;
}

.card-container .ant-card-body {
  padding: 35px 24px 24px;
}
